.header {
  padding: 20px 0;
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
}

.header > div {
  display: flex;
}

.header_left {
  justify-content: flex-start;
  flex-grow: 1;
}

.header_center {
  justify-content: center;
  flex-grow: 2;
  font-size: 25px;
}

.header_right {
  justify-content: flex-end;
  flex-grow: 1;
}
